{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Наши контакты</h2>
          
        </div>
      </div>
    </div>
  </div>
</div>

<section id="content" class="section-padding">
  <div class="container">
    <div class="row">
      
      <div class="offset-md-3 col-md-6">
        <div class="information">
          <p>Принимаются жалобы и предложения.</p>
          <div class="contact-datails">
            <div class="icon">
              <i class="lni-map-marker icon-radius"></i>
            </div>
            <div class="info">
              <h3>Адрес</h3>
              <span class="detail">Томск</span>
            </div>
          </div>
          <div class="contact-datails">
            <div class="icon">
              <i class="lni-pointer icon-radius"></i>
            </div>
            <div class="info">
              <h3>Вопросы?</h3>
              <span class="detail">no@no.net</span>
            </div>
          </div>
          
          <div class="contact-datails">
            <div class="icon">
              <i class="lni-phone icon-radius"></i>
            </div>
            <div class="info">
              <h3>Телефон</h3>
              <span class="detail">00-00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}