{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">FAQ</h2>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="faq section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="head-faq text-center">
          <h2 class="section-title">Часто задаваемые вопросы</h2>
        </div>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Что это?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse show">
              <div class="panel-body">
                <p>Спойлер</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock content %}