{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Условия использования</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-faq">
                    <h5>
                        Ничего
                    </h5>
                    <p>
                        Ничего
                    </p>
                </div>
                <h3>Введение</h3>
                <p>Ничего</p>

                <h3>Первое</h3>

                <p>Ничего</p>

            </div>
        </div>
    </div>
</div>

{% endblock content %}